PORT=5000

DATABASE_URL=postgresql://neondb_owner:npg_ns9jiQ0qKXBb@ep-bitter-dawn-a1wf9a1k-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

AI_API_URL=http://localhost:8000
RAPIDAPI_KEY=your_rapidapi_key_here